@charset "utf-8";
/* CSS Document */

* { 
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
	font-size:10px;

}

h1 { 
	background-color:hotpink;
	font-size:20px;
	
}

h3 { 
	background-color: darksalmon;
}

footer { 
	font color: purple;
	text-align: center;
	
}
