@charset "utf-8";
/* CSS CGDG */
/* html: se toma como base 20px para 1rem */


/* --------------------- */
/* I N D E X . H T M L */
/* --------------------- */


/* -------------------- */
/* GENERAL / CURSORES */
/* -------------------- */


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: url('img/cursor.png'), default;
}

a,
footer ul img {
	cursor: url('img/hand-cursor.png'), pointer;
}

input,
textarea {
	cursor: url('img/text-cursor.png'), text;
}

html {
	font-size: 20px;
	scroll-behavior: smooth;
}

body {
	font-family: "degular", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #1a1a1a;
}


/* -------------------- */
/* TIPOGRAFÍA / LINKS */
/* -------------------- */


h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1rem;
}

a {
	color: #FF5454;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	color: #1a1a1a;
}


/* -------------------- */
/* ESPACIADO GENERAL */
/* -------------------- */


header,
footer {
	padding: 20px 3%;
}

.intro,
.acerca-de-mi,
.me-gusta,
blockquote,
.contacto {
	padding: 70px 5% 70px 5%;
}

.skills {
	padding: 70px 5% 120px 5%;
}

#acerca-de-mi,
#skills,
#me-gusta,
#contacto {
	scroll-margin-top: 10vh;
}


/* -------------------- */
/* HEADER */
/* -------------------- */


header {
   position: sticky;
   top: 0;
   z-index: 1000;
   background-color: #CBCBCB;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 3%;
   flex-wrap: nowrap;
}

.menu-toggle {
   display: none;
   background: none;
   border: none;
   font-size: 2rem;
   color: #FF5454;
   transition: color 0.3s ease, transform 0.3s ease;
}

.menu-toggle.active {
   color: #1A1A1A;
}

.nav {
   display: flex;
   gap: 20px;
}


/* -------------------- */
/* PORTADA / INTRO */
/* -------------------- */


.imagen-heroe {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.foto-heroe {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro p {
	font-size: 2.5rem;
	text-align: center;
	line-height: 1.5;
}


/* -------------------- */
/* ACERCA DE MÍ */
/* -------------------- */


.acerca-de-mi {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
	background-color: #FF5454;
	justify-content: center;
}

.about {
	flex: 0 1 480px;
	max-width: 600px;
}

.perfil {
	color: white;
	margin-top: 40px;
}

.about h2 {
	margin-bottom: 30px;
}

.about ul {
	list-style: none;
}

.about li {
	font-weight: 700;
	margin-bottom: 20px;
}

.about ul li::before {
	content: "✦";
	margin-right: 10px;
	color: white;
}

.about ul .subtexto {
	display: block;
	font-weight: 400;
}

.subtexto {
	margin-left: 30px;
}

.acerca-de-mi p,
figcaption p {
	line-height: 1.5;
}


/* -------------------- */
/* SKILLS */
/* -------------------- */


.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
	background-color: #CBCBCB;
	justify-content: center;
	align-items: center;
	background-image: url("img/foto-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	min-height: 100vh;
}

.habilidades {
	flex: 1 1 400px;
	max-width: 600px;
}

.habilidades:last-child {
	max-width: 300px;
	margin-top: 20px;
}

.habilidades p {
	font-size: 2rem;
	line-height: 1.5;
}

.habilidades ul {
	font-size: 2rem;
	list-style: none;
	margin-left: auto;
}

.habilidades ul li::before {
	content: "♡";
	margin-right: 10px;
	color: #FF5454;
}


/* -------------------- */
/* ME GUSTA */
/* -------------------- */


.me-gusta h2 {
	text-align: center;
	margin-bottom: 40px;
}

.me-gusta-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
}

.me-gusta-container figure {
	flex: 0 0 30%;
	display: flex;
	max-width: 300px;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.foto-me-gusta {
	margin-bottom: 20px;
	transition: filter 0.4s ease, transform 0.4s ease;
}

.foto-me-gusta:hover {
	filter: grayscale(100%);
	transform: scale(1.04);
}

.me-gusta-container figcaption h3 {
	margin-bottom: 10px;
}


/* -------------------- */
/* BLOCKQUOTE */
/* -------------------- */


blockquote {
	font-size: 2rem;
	text-align: center;
	background-color: #CBCBCB;
}

blockquote p {
	color: #FF5454;
}

blockquote cite {
	color: #1a1a1a;
	font-style: normal;
	font-weight: 700;
	margin-left: 10px;
}


/* -------------------- */
/* CONTACTO */
/* -------------------- */


.contacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
	background-color: #CBCBCB;
}

.contacto a:hover {
	color: #1a1a1a;
}

.foto-hover {
	position: relative;
	overflow: hidden;
}

.foto-hover img {
	width: 100%;
	display: block;
	transition: opacity 0.4s ease, transform 0.4s ease;
}

.img-hover {
	position: absolute;
	inset: 0;
	opacity: 0;
}

.foto-hover:hover .img-base {
	opacity: 0;
	transform: scale(1.03);
}

.foto-hover:hover .img-hover {
	opacity: 1;
	transform: scale(1.03);
}


/* -------------------- */
/* FOOTER */
/* -------------------- */


footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #FF5454;
}

.footer-izq {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-izq p {
	font-size: 2rem;
	font-weight: 400;
}

.img-swap {
	position: relative;
	overflow: hidden;
	width: 98px;
	height: 140px;
}

.img-swap img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.4s ease;
}

.img-dos {
	opacity: 0;
}

.img-swap:hover .img-dos {
	opacity: 1;
}

.img-swap:hover .img-uno {
	opacity: 0;
}

footer ul {
	display: flex;
	gap: 20px;
	list-style: none;
}

.catedra {
	display: block;
	line-height: 30px;
}

.logos {
	transition: 0.4s ease;
}

.logos:hover {
	filter: invert(1);
}


/* ------------------------------- */
/* INDEX - MEDIA QUERIES MÓVIL+TABLET */
/* ------------------------------- */


@media (max-width: 768px) {
   header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
   }

   nav {
      justify-content: flex-start;
      gap: 10px;
   }
}

@media (max-width: 768px) {

   .imagen-heroe {
      height: 100vh;
   }

   .foto-heroe {
      object-fit: cover;
      object-position: center top;
   }
}

@media (max-width: 768px) {

   .skills {
      flex-direction: column;
      min-height: auto;
      gap: 20px;
      padding: 50px 5%;
      justify-content: center;
      align-items: center;
   }

   .habilidades {
      flex: unset;
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
	  
   }

   .habilidades p {
      font-size: 1.2rem;
      line-height: 1.4;
      text-align: center;
	  margin-bottom: 20px;
   }

.habilidades ul {
      font-size: 1.2rem;
      list-style: none;

      margin: 0;
      padding: 0;

      text-align: left;

      align-self: center;
      width: fit-content;
   }

   .habilidades:last-child {
      margin-top: 0;
      max-width: 500px;
   }
}

@media (max-width: 768px) {
   .me-gusta-container figure {
      flex: 0 0 45%;
   }
}

@media (max-width: 480px) {
   .me-gusta-container figure {
      flex: 0 0 100%;
   }
}

@media (max-width: 768px) {
   html {
      font-size: 16px;
   }

   .intro p {
      font-size: 1.5rem;
   }

   .habilidades p,
   .habilidades ul {
      font-size: 1.3rem;
   }
}

@media (max-width: 768px) {
   footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
   }

   .footer-izq {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   footer ul {
      justify-content: center;
   }
}

@media (max-width: 768px) {

   header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px 3%;
   }

   header h1 {
      width: 100%;
      margin-bottom: 10px;
   }

   .menu-toggle {
      display: block;
      font-size: 2rem;
      background: none;
      border: none;
      margin-bottom: 10px;
   }
	
	.menu-toggle.active {
      color: #1A1A1A;
   }

   .nav {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;
   }
	
	.nav a {
   background: transparent;
   color: #FF5454;
}
	
   .nav.active a {
   background: transparent;
   color: #FF5454;
}

   .nav.active {
      display: flex;
	   
   }
}


/* ------------------------- */
/* P O R T F O L I O . H T M L */
/* ------------------------- */


.blockquote-portfolio {
	background-color: #FFFFFF;
}

.blockquote-portfolio p {
	color: #1A1A1A;
}

.blockquote-portfolio cite {
	color: #FF5454;
}

iframe {
	width: 100%;
	height: 113vh;
	border: none;
	display: block;
	overflow: hidden;
	scrollbar-width: none;
}

iframe::-webkit-scrollbar {
	display: none;
}


/* ------------------------- */
/* 1 2 3 4 . H T M L */
/* ------------------------- */


.nav-portfolio {
	background-color: #1A1A1A;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 30px 20px;
	flex-shrink: 0;
}

.nav-portfolio a {
	color: white;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
}

.proyecto {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color: #CBCBCB;
}

.contenido-proyecto {
	display: flex;
	flex-direction: column;
}

.nav-portfolio .activo {
	color: #FF5454;
}

.info-proyecto {
	display: flex;
	align-items: flex-start;
	gap: 60px;
	padding: 30px 40px;
}

.encabezado-proyecto {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex: 1;
}

.info-proyecto p {
	max-width: 500px;
	line-height: 1.5;
}

.galeria {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #CBCBCB;
}

.galeria img,
.galeria video {
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.flecha {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: #CBCBCB;
	color: #FF5454;
	border: none;
	padding: 2px 10px 7px 10px;
	align-items: center;
	font-size: 2rem;
	cursor: url("img/hand-cursor.png"), pointer;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.galeria:hover .flecha {
	opacity: 1;
}

.izquierda {
	left: 20px;
}

.derecha {
	right: 20px;
}

.entrada-layout {
	display: flex;
	align-items: stretch;
	min-height: 100vh;
}

.entrada-media {
	flex: 1;

	background-image: url("img/portfolio/portfolio-1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


/* ----------------------- */
/* C O N T A C T O . H T M L */
/* ----------------------- */


input,
textarea,
button,
select {
    font: inherit;
}

input,
textarea {
    border: 2px solid transparent;
    box-sizing: border-box;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #1A1A1A;
    box-shadow: 0 0 0 2px #1A1A1A;
	caret-color: #FF5454;
}

input:focus {
    box-shadow: 0 0 0 2px #1A1A1A;
}

input::placeholder,
textarea::placeholder {
    color: #FF5454;
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}

.contacto {
    background-color: #FF5454;
    padding: 40px;
	padding-bottom: 65px;
}

.contacto h2 {
    font-size: 2rem;
    margin-bottom: 60px;
    color: #1A1A1A;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.columna-izquierda,
.columna-derecha {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    color: #1A1A1A;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"] {
    height: 55px;
    border: none;
    background-color: #FFFFFF;
    padding: 0 15px;
    margin-bottom: 25px;
    font-size: 1rem;
    width: 100%;
}

textarea {
    height: 168px;
    border: none;
    resize: none;
    background-color: #FFFFFF;
    padding: 15px;
    font-size: 1rem;
    width: 100%;
}

#archivo {
    display: none;
}

.archivo-contenedor {
    display: flex;
    align-items: center;
    gap: 15px;
	
}

.boton-archivo {
    width: 210px;
    height: 50px;
    background-color: #CBCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("img/hand-cursor.png"), pointer;
    margin: 0;
    color: #FF5454;
}

#nombre-archivo {
    color: white;
    font-size: 0.95rem;
}

.acciones-formulario {
    display: flex;
    align-items: center;
    margin-top: 55px;
    gap: 68px;
}

.grupo-checks {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: left;
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    margin: 0;
    cursor: url("img/hand-cursor.png"), pointer;
}

.check input {
    display: none;
}

.check span {
    width: 28px;
    height: 28px;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.check input:checked + span {
    border-color: #1A1A1A;
}

.check input:checked + span::after {
    content: "✦";
    font-size: 18px;
    color: #FF5454;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    width: 140px;
    height: 50px;
    border: none;
    background-color: #1A1A1A;
    color: white;
    cursor: url("img/hand-cursor.png"), pointer;
    font-size: 1rem;
}

.blockquote-contacto {
	background-color: #1A1A1A;
}

.blockquote-contacto p {
	color: #FFFFFF;
}

.blockquote-contacto cite {
	color: #FF5454;
}


/* ---------------------------------- */
/* CONTACTO - MEDIA QUERIES MÓVIL+TABLET */
/* ---------------------------------- */


@media (max-width: 768px) {

    .formulario {
        grid-template-columns: 1fr;
    }

    .acciones-formulario {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    button {
        width: 100%;
    }

}

@media (max-width: 768px) {

   .acciones-formulario {
      flex-direction: column;
      align-items: center;
      gap: 25px;
   }

   .grupo-checks {
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
   }
}